extends ../layout/index
block contenido
    main.container.mt-5
        .row    
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nostros", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote  Morbi semper mauris ipsum, ac efficitur velit sollicitudin at. Mauris varius dolor mi, nec molestie sapien pulvinar sed. Morbi eu gravida purus, sit amet cursus enim.
                p Vestibulum efficitur, tortor nec dapibus cursus, enim lectus egestas felis, sed laoreet enim leo sed velit. Nunc vehicula ultricies est ac semper. Proin erat justo, vehicula quis elit non, semper tempus augue. Cras imperdiet, tellus ut fermentum congue, elit tortor eleifend velit, ac pharetra urna orci at urna. Suspendisse rhoncus nisi ut nisl pulvinar, nec commodo purus vulputate. 
                p Donec placerat tincidunt mollis. Proin sit amet facilisis sapien. Donec pellentesque ac arcu eget consectetur. Etiam et accumsan nulla, et sagittis enim. Nullam volutpat nisl vitae quam tempus imperdiet. Sed pulvinar dui sapien, a vulputate lacus sagittis eu
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid")
                    h2 Segutidad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque mi, consequat nec vulputate vel, condimentum sed magna.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid")
                    h2 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque mi, consequat nec vulputate vel, condimentum sed magna.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid")
                    h2 Mejor Precio
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque mi, consequat nec vulputate vel, condimentum sed magna.
